body {

    background-color: green;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: "0";
    padding: 50px;
   
}

.game-container {
    background-color: #282728;
    border: 1px solid white;
    border-radius: 35px;
    padding: 200px;
    width: 100%;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    margin-top: -660px; /* the above space controller of this container */
    box-shadow: 0 0 30px gold;
    position: relative;
    left: 500px;
    right: 400px;
}

.table {
    background-color: #800000;
    border: 5px solid #fff;
    border-radius: 250px;
    padding: 200px;
    width: 60%;
    margin: 50px auto;
    box-shadow: 0 0 20px black;
}

#players-cards {
    margin: 20px auto;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

#players-cards img {
    width: 100px;
    height: auto;
    border: 2px solid gold;
    border-radius: 8px;
    box-shadow: 0 0 15px gold;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.card {
    width: 100px;
    height: 140px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform  0.8s;
    transform-style: preserve-3d;

}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
}

.card-back {
    background: url('src/card-back.png') center/cover no-repeat;
}

.card-front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: rotateY(180deg);
}

button {
    background-color: gold;
    color: black;
    border: white;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    transition: 0.3s;
    box-shadow: 0 0 10px white;
}

button:hover {
    background-color: orange;
}

#login-container {
    background: #111;
    color: gold;
    padding: 30px;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border: 2px solid gold;
    border-radius: 15px;
   
}

#login-container input {
    padding: 8px;
    margin-top: 10px;
    width: 90%;
}

#login-container input::placeholder {
    color: black;
    letter-spacing: 1px;
    font-style: normal;
}

#login-container button {
    margin-top: 30px;
    padding: 10px 20px;
    font-weight: bold;
    background: gold;
    border: none;
    cursor: pointer;
}

#loginBtn {
    margin-right: 10px;
}

#signup-container {
    background: #111;
    color: gold;
    padding: 30px;
    margin: 50px;
    width: 300px;
    height: 300px;
    margin-top: 80px;
    margin-left: -30px;
    
    border: 2px solid gold;
    border-radius: 15px;
   
}
#signup-container input {
    padding: 8px;
    margin-top: 10px;
    width: 90%;
}

#signup-container input::placeholder {
    color: black;
    letter-spacing: 1px;
    font-style: normal;
}

#signup-container button {
    margin-top: 30px;
    padding: 10px 20px;
    font-weight: bold;
    background: gold;
    border: none;
    cursor: pointer;
}

#signupBtn {
    margin-right: 10px;
}



